
.sign-up-page {
  max-width: 360px;
  margin: 8px auto 0;
}

.btn-light {
  color: #616161;
}

.sign-up__submit-btn {
  background-color: #FD3378;
  height: 38px;
}

@media (max-width: 480px) {
  .sign-up-page {
    max-width: initial;
  }
  .card {
    border: none;
    &-header {
      background-color: #fff;
    }
  }
}
